

#landingHeader{
	background: transparent !important;
}

#landingFooter{
	background: transparent !important;
}

#btnMenu-img{
	color: orangered !important;
}

#settingsButton-img{
	color: orangered !important;
}

#AboutButton-img{
	color: orangered !important;
}

#ContactButton-img{
	color: orangered !important;
}

#AppHeader{
	font-weight: bold !important;
	font-size:130%;
	color : orangered;
/* 	text-shadow: 0 0 3px #FF0000; */
	
}

#textExpand{
	float: center !important;
}


